NEXT_PUBLIC_COMPANY_NAME="Votre entreprise"
ALLOWED_EMAIL_DOMAINS="entreprise.fr"
NEXT_PUBLIC_ALLOWED_DOMAIN="entreprise.fr"

AUTH_SECRET="a-generer-localement"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_URL="http://localhost:3000"

GOOGLE_SERVICE_ACCOUNT_JSON=""
GOOGLE_DRIVE_ROOT_FOLDER_ID=""
